{%extends "users/base.html"%}
{% load static%}
{% load bootstrap4 %} 
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Cherry+Swash|Lilita+One|Titan+One" rel="stylesheet"> 
    <link rel="stylesheet" href="{% static 'css/index.css' %}" type="text/css">
    
    <title>Hood watch</title>
</head>
<body>

        {% block content %}
        <br><br><br>
        <div class="container">

            <h1>Welcome to the neighbrhood watch!</h1>
            <h6 style="text-align:center;">{{date|date:"l d F Y"}}</h6>

            <h5>Welcome to the neighborhood watchapp! If you can't find your hood just create your own on</h5>

            <a href="{% url 'new-hood'%}">
                <button class="btn btn-outline-primary btn-sm">Create a hood</button>
            </a>
            <div class="row">
            {%for hood in hoods %}
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <div class="card">
                    <div class="card-header">
                        <h3>{{hood.name}}</h3>
                    </div>
                    <div class="card-image">
                            <img src="{{hood.image.url}}" class="img-responsive" alt="" style="width: 300px; height: 250px;">
                    </div>

                    <div class="card-body">
                        <h4 class="description">Detail: {{hood.description}}</h4>
                        <h4 class="description">Residents: {{hood.population}}</h4>  
                        <h4 class="description">Police contact: {{hood.police_contact}}</h4>
                        <h4 class="description">Health facility: {{hood.hospital_contact}}</h4>
                           
                    </div>

                    <div class="card-footer">
                        <a href="{%url 'my-hood' hood.id%}"><button class="btn btn-outline-primary btn-sm">View Hood</a>

                    


                    </div>
                </div>
            </div>   
            {%endfor%}
          </div>
            

        </div><hr>


        {% endblock %}
    
    </body>
    </html>      